# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
bin/
lib/
develop-eggs/
dist/
eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.venv/
venv/
ENV/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Database
*.sqlite
*.db

# OS
.DS_Store
Thumbs.db

# Riferimenti esterni (esclusi)
riferimento java/
